*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  font-size: 62.5%; }

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #121417; }

.rating {
  width: clamp(35rem, 40%, 45rem);
  height: 50vh;
  padding: 5rem;
  background-image: linear-gradient(to bottom, #252d37, #171a1d);
  border-radius: 2rem; }
  .rating__icon {
    display: inline-block;
    padding: 1.3rem;
    border-radius: 50%;
    background-color: #2d3844; }
  .rating__title {
    margin: 2rem 0;
    font-size: 2.8rem;
    color: #ffffff; }
  .rating__description {
    font-size: 1.5rem;
    line-height: 1.7;
    color: #7c8798; }
