$ff-primary: 'Overpass', sans-serif;

$fs-map: (
	'primary': 62.5%,
);

$clr-map: (
	'color--orange': #fb7413,
	'color--light-grey': #959eac,
	'color--medium-grey': #7c8798,
	'color--dark-blue': #252d37,
	'color--very-dark-blue': #121417,
	'color--very-dark-blue-gradient': #171a1d,
	'color--star': #2d3844,
	'color--heading': #ffffff,
);
